<!DOCTYPE html>
<html lang="tr">
	<head>
		{% block page_styles %}{% endblock %}
	</head>
	<body class="current-page-{{ site.route.group }}-{{ site.route.name }}">
        {% block content %}{% endblock %}
		{% include 'html/snippets/scripts.twig' %}
		{% block page_scripts %}{% endblock %}
	</body>
</html>